



<%= render 'shared/errors',obj: @article %>

<br/>

<div class="row">
    <div class="col-md-12">
        <%= form_for(@article, :html => {:class => "form-horizontal" , role: "form"}) do |t|%>
            <div class="form-group">
                <div class="col-sm-2 control-label color-white-bold">
                    <%= t.label :title %><br/>
                </div>
                <div class="col-sm-8">
                  <%= t.text_field :title, rows: 1, class: "form-control", placeholder: "Title of Article" %>    
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-2 control-label color-white-bold">
                    <%= t.label :description %><br/>    
                </div>
                <div class="col-sm-8">
                   <%= t.text_area :description,rows: 15, class: "form-control", placeholder: "Body of Article" %> 
                    
                </div>
                
            </div>


            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <%= t.submit class: "btn btn-primary btn-lg" %>    
                    <%= t.submit 'Back', class: "btn btn-danger btn-lg"%>    
                </div>
            </div>
        <% end %>
    </div>
</div>

