<h1>Create new article</h1>
<%= link_to 'New Article', new_article_path %>
<h1>All Articles are: </h1>
<% @articles.each do |article| %>
	<ul>
		<li><b><%= article.title %></b></li> <br/>
		<p> <%= article.description %></p>
		<p>
			<%= link_to 'Edit' , edit_article_path(article) %> | 
			<%= link_to 'Show' , article_path(article) %> | 
			<%= link_to 'Delete' , article_path(article), method: :delete , data: {confirm: 'Are you sure?'} %>
		</p>
		<hr/>
	</ul>
<%end%>