

<div class="jumbotron">
	<h2 class="color-white-bold center">
		<%= @article.title%>
	</h2>
	<br>

	<div class="color-white">
		<h3>
			<%= simple_format(@article.description)%>	
		</h3>
		
	</div>
</div>
<div class="row">
	<%= link_to 'View all Articles', articles_path, class: "btn btn-success btn-lg col-lg-3", role: "button" %>
	<%= link_to 'Edit this Article', edit_article_path(@article), class: "btn btn-warning btn-lg col-lg-4 col-sm-offset-1", role: "button" %>
	<%= link_to 'Delete this Article', article_path, class: "btn btn-danger btn-lg col-lg-3 col-sm-offset-1", role: "button", method: :delete, data: {confirm: 'Are you sure?'}%>
</div>

